@import "./../../../../styles.scss";
.url {
  width: 100%;
  background-color: chocolate;

  &__textArea {
    // display: flex;
    height: 3em;
    color: $black;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
  }
  // &__button {}
  // &__icon {}
}

.button {
  @include media($portatil){
    display: none;
  }
}
