@import "./../../../../styles.scss";

.wifi {
  background-color: chocolate;
  margin: 0 0 2em;

  &__block {
    @include flex(row, wrap, space-between, center);
    gap: .3em;
    margin: 0 0 1em;
  }
  &__label {
    text-transform: capitalize;

    @include media($tabletS) {
      width: auto;
      line-height: 22.5px;
    }
  }
  &__inputBox {
    width: 100%;
    @include flex(column, wrap, flex-start, center);
    gap: 1em;

    @include media($tabletS){
      width: 75%;
    }

    @include media($tablet){
      @include flex(row, nowrap, flex-start, center);
    }
  }
  &__input {
    width: 100%;
    background-color: lavender;
    height: 48px;
    padding: .5em .8em;
    font-weight: 600;

    border: 2px solid $border;
    border-radius: .2em;

    &::placeholder {
      font-weight: 400;
    }

    &:focus-visible {
      outline: none;
    }
  }
  &__checkboxWrapper {
    @include flex(row, nowrap, flex-start, center);
    gap: .3em;
  }
  &__checkbox {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
  }
  &__toolTip {
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
  }
  &__encryption {
    @include flex(row, nowrap, flex-start, center);
    gap: .3em;
    width: 100%;
  }
  &__encryptWrapper {
    @include flex(row, wrap, flex-start, center);
    gap: .5em;

    @include media($mobileS){
      @include flex(row, nowrap, flex-start, center);
    }
  }
  &__radioBox {
    @include flex(row, nowrap, flex-start, center);
    gap: .5em;
    margin: 0 1em 0 0;
  }
  &__radio {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: black;
  }
  // &__radioText {}
}

