<app-subtitle [subtitle]="'Wifi QR Code'"></app-subtitle>

<form class="wifi" action="">
  <div class="wifi__block">
    <label for="wifi" class="wifi__label">Network name:</label>
    <div class="wifi__inputBox">
      <input type="text" id="wifi" class="wifi__input" placeholder="SSID">
      <div class="wifi__hiden">
        <mat-checkbox class="example-margin wifi__checkbox">Hidden</mat-checkbox>
        <span
        class="wifi__toolTip wifi__toolTip-hiden"
        matTooltip="Is this a hidden WiFi network?"
        [matTooltipPosition]="position">?</span>
      </div>
    </div>
  </div>

  <div class="wifi__block">
    <label for="password" class="wifi__label">password:</label>
    <div class="wifi__inputBox">
      <input type="password" id="password" class="wifi__input">
    </div>
  </div>

  <div class="wifi__block">
    <div class="wifi__encryption">
      <label for="encryption" class="wifi__label">encryption:</label>
      <span
        class="wifi__toolTip"
        matTooltip="The type of security protocol on your network"
        [matTooltipPosition]="position">?</span>
    </div>

    <mat-radio-group class="wifi__radioBox">
      <mat-radio-button class="example-margin wifi__radio" value="None">
        None
      </mat-radio-button>
      <mat-radio-button class="example-margin wifi__radio" value="WPA/WPA2">
        WPA/WPA2
      </mat-radio-button>
      <mat-radio-button class="example-margin wifi__radio" value="WEP">
        WEP
      </mat-radio-button>
    </mat-radio-group>
  </div>

</form>

<app-button-generate-qr></app-button-generate-qr>
