@import "./../../../../styles.scss";

.text {
  width: 100%;
  background-color: chocolate;

  &__textArea {
    width: 100%;
    height: 1.5em;
    color: $black;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
  }
  // &__button {}
  // &__icon {}
}

.button {
  @include media($portatil){
    display: none;
  }
}
