@import "./../../../../styles.scss";

.vcard {
  background-color: chocolate;
  margin: 0 0 2em;

  &__block {
    @include flex(row, wrap, space-between, center);
    gap: .3em;
    margin: 0 0 1em;
  }
  &__label {
    width: 100%;
    text-transform: capitalize;

    @include media($tabletS) {
      width: auto;
      line-height: 48px;
    }
  }
  &__input {
    width: 100%;
    background-color: lavender;
    height: 48px;
    padding: 0 .8em;
    font-weight: 600;

    border: 2px solid $border;
    border-radius: .2em;

    &::placeholder {
      font-weight: 400;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__inputBox {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    @include media($tabletS) {
      width: 80%;
    }
  }
  &__input-complete {
    grid-column: 1/3;
  }
}
