<mat-accordion class="example-headers-align accordion">
  <mat-expansion-panel class="mat-expansion-panel-spacing accordion__block" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="accordion__header accordion__header-blue">
      <mat-panel-title class="accordion__title">
        frame
        <span class="accordion__subtitle">
          new!
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="accordion__card">
      <div class="accordion__miniCard accordion__miniCard-green">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="accordion__iconX">
          <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/>
        </svg>
      </div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-expansion-panel-spacing accordion__block" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="accordion__header">
      <mat-panel-title class="accordion__title">
        Shape & Color
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="accordion__card">
      <div class="accordion__miniCard accordion__miniCard-green">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="accordion__iconX">
          <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/>
        </svg>
      </div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-blue"></div>
      <div class="accordion__miniCard accordion__miniCard-green accordion__miniCard-rounded">
        <span class="accordion__plus">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="accordion__icon">
            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
          </svg>
        </span>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-expansion-panel-spacing accordion__block" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="accordion__header">
      <mat-panel-title class="accordion__title">
        Logo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="accordion__card">
      <div class="accordion__miniCard accordion__miniCard-green">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="accordion__iconX">
          <path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/>
        </svg>
      </div>
      <div class="accordion__miniCard"></div>
      <div class="accordion__miniCard"></div>
    </div>
    <a href="#" class="accordion__link">Upload your own</a>
  </mat-expansion-panel>
</mat-accordion>
