@import "./../../../styles.scss";

.generator {
  min-height: 540px;
  padding: 2em 2.5em;
  position: relative;

  background-color: #fff;

  @include flex(column, nowrap, space-between, center);

  @include media($tabletS){
    max-width: 800px;
  }

  &__body {
    margin: 4em 0 0;
  }
  &__footer {
    width: 100%;

    @include media($tablet){
      @include flex(row, nowrap, flex-start, center);
    }
  }
}
