<div class="generator">
  <div class="generator__tags">
    <app-header (sendItemName)="changeItem($event)" [show]="show"></app-header>
    <div class="generator__body" [ngSwitch]="show">
      <app-url *ngSwitchCase="'url'"></app-url>
      <app-vcards *ngSwitchCase="'vcards'"></app-vcards>
      <app-text *ngSwitchCase="'text'"></app-text>
      <app-e-mail *ngSwitchCase="'e-mail'"></app-e-mail>
      <app-sms *ngSwitchCase="'sms'"></app-sms>
      <app-wifi *ngSwitchCase="'wifi'"></app-wifi>
      <app-bitcoin *ngSwitchCase="'bitcoin'"></app-bitcoin>
      <app-twitter *ngSwitchCase="'twitter'"></app-twitter>
      <app-facebook *ngSwitchCase="'facebook'"></app-facebook>
      <app-pdf *ngSwitchCase="'pdf'"></app-pdf>
      <app-mp3 *ngSwitchCase="'mp3'"></app-mp3>
      <app-app-stores *ngSwitchCase="'app-stores'"></app-app-stores>
      <app-images *ngSwitchCase="'images'"></app-images>
    </div>
  </div>
  <div class="generator__footer">
    <app-scan-tracking></app-scan-tracking>
    <app-upload-file *ngIf="show === 'url' || show === 'text'"></app-upload-file>
  </div>
</div>

