@import "./../../../../../styles.scss";

.upload {
  width: 100%;
  @include flex(row, nowrap, center, center);
  gap: .3em;
  margin: 5.625em 0 0;

  font-size: 16px;

  &__icon {
    width: 16px;
  }
  &__textBlue {
    color: #47bdfe;
    font-weight: 700;
  }

  &__textGray {
    font-weight: 600;
    color: #a4a5a8;
    display: none;

    @include media($tabletS) {
      display: block;
    }
  }
}
