@import "./../../../styles.scss";

.qr {
  min-height: 100vh;
  padding: 2em 2.5em;
  background-color:cornflowerblue;
  position: relative;

  @include flex(column, nowrap, space-between, center);

  @include media($tabletS){
    width: 95%;
    margin: auto;
    max-width: 800px;
  }

  // &__header {}
  &__footer {
    width: 100%;

    @include media($tablet){
      @include flex(row, nowrap, flex-start, center);
    }
  }
}
.div {
  margin: 4em 0 0;
}
