@import "./../../../../../styles.scss";

.scan {
  @include flex(row, nowrap, center, center);
  gap: .5em;
  width: 135px;
  margin: 2em auto 0;

  @include media($tablet){
    position: absolute;
    bottom: 2em;
    right: 3.625em;
    width: auto;
  }
}
