@import "./../../../../../styles.scss";

.button {
  @include flex(row, nowrap, center, center);
  gap: .5em;
  width: 100%;
  max-width: 280px;
  background-color: $green;
  color: $white;

  margin: 1em auto 0;
  padding: 12px 30px;

  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.406em;

  border-radius: 2em;

  cursor: pointer;

  @include media($tablet){
    margin: 2.5em 0 0;
  }

  &__icon {
    width: 14px;
  }

  &__text {
    font-weight: 900;
    text-transform: uppercase;
  }
}
