<div class="header">
  <ul class="header__list">
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
    <li class="header__item">
      <a href="" class="header__link">
        <div class="header__boxButton">
          <span class="header__icon"></span>
          <span class="header__text">lorem</span>
        </div>
      </a>
    </li>
  </ul>
</div>
