<div class="ilustration">
  <div class="ilustration__wrapper">
    <div class="ilustration__preview">
      <img src="" alt="" class="ilustration__img">
    </div>

    <div class="ilustration__customizer">
      <app-accordion (click)="activeButtons()"></app-accordion>
    </div>

    <div class="ilustration__download">
      <button class="ilustration__button ilustration__button-green" [class]="[active ? 'active' : null]">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="ilustration__icon">
          <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
        </svg>
        <div class="ilustration__textBox">
          <span class="ilustration__top">Download</span>
          <span class="ilustration__botton">jpg</span>
        </div>
      </button>
      <button class="ilustration__button ilustration__button-transparent">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="ilustration__icon">
          <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
        </svg>
        <div class="ilustration__textBox">
          <span class="ilustration__top">vector</span>
          <span class="ilustration__botton">svg/eps</span>
        </div>
      </button>
    </div>
  </div>
</div>
